/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  color: var(--accent-color);
  font-family: var(--main-font, sans-serif);
  background-color: var(--bg-color, #fff);
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
  min-block-size: 100dvb;
  min-inline-size: 375px;
  font-variation-settings: "wght" var(--main-font-weight);
}

@supports (font-variation-settings: normal) {
  .page {
    font-family: var(--main-font, sans-serif);
    font-variation-settings: var(--main-font-weight), var(--accent-font-weight);
  }
}

.header {
  display: grid;
  justify-items: center;
  justify-content: center;
  padding-block: 100px;
}

.header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(23.438rem, 8.929rem + 38.69vw, 43.75rem);
  border: 2px solid var(--accent-color, #000000);
  padding-block-start: clamp(7.5rem, 6.786rem + 1.905vw, 8.5rem);
  padding-block-end: 23px;
  font-family: var(--accent-font);
  background-color: var(--bg-color);
}

.logo {
  margin-block-end: 20px;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__title {
  margin-block-end: 23px;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
  font-variation-settings: "wght" var(--accent-font-weight);
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding-inline-start: 19px;
}

.theme-menu__button {
  position: relative;
  border: none;
  font-size: var(--font-size-s);
  line-height: 14px;
  text-transform: uppercase;
  background-color: transparent;
  transition: opacity 0.3s ease;
}

.theme-menu__button:hover,
.theme-menu__button:focus {
  opacity: 0.6;
}

.theme-menu__button::before {
  content: "";
  position: absolute;
  transform: scaleX(0);
}

.theme-menu__button:focus::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--accent-color);
  transition: transform 0.3s ease;
  transform: scaleX(1);
  transform-origin: left;
}

.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  margin-top: 7px;
  margin-left: -18px;
  transform: translateX(0px);
  animation: arrow-animation 0.5s ease-in-out infinite alternate;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: clamp(23.438rem, 8.929rem + 38.69vw, 43.75rem);
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
}

.card__image {
  position: relative;
  z-index: 1;
  box-sizing: border-box;
  width: 100%;
}

.card__picture {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
  object-fit: cover;
  object-position: center;
  vertical-align: middle;
}

.content__paragraph {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-self: center;
  width: clamp(20.063rem, 5.554rem + 38.69vw, 40.375rem);
  padding-block-start: 25px;
}

.card__title {
  width: clamp(21.938rem, 8.054rem + 37.024vw, 41.375rem);
  margin-inline: 10px;
  margin-block: 5px;
  font-weight: var(--accent-font-weight);
  font-size: var(--font-size-m);
  line-height: 21.78px;
}

.card__paragraph {
  font-weight: var(--main-font-weight);
  font-size: var(--font-size-m);
  line-height: 21px;
}

.card__paragraph-more {
  margin-block-end: 2px;
}

.button {
  position: relative;
  border: none;
  padding: 0;
  overflow: hidden;
  color: var(--accent-color);
  background-color: var(--bg-color);
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0;
  background-color: var(--accent-color);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
}

.button:hover::before {
  transform: translateX(0);
}

.button__like {
  display: flex;
  justify-content: end;
  margin-block-end: 25px;
  block-size: 38px;
}

.card__like-button {
  box-sizing: border-box;
  width: 130px;
  height: 38px;
  border: 2px solid var(--accent-color);
  padding: 0;
}

.card__icon-button {
  height: 100%;
  border: 2px solid transparent;
  padding: 0;
  background-color: transparent;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
  transition: border-color 0.3s ease;
}

.button__text {
  position: relative;
  z-index: 1;
  color: var(--bg-color);
  font-family: var(--accent-font);
  font-weight: var(--main-font-weight);
  font-size: var(--font-size-s);
  line-height: 12.6px;
  white-space: nowrap;
  mix-blend-mode: difference;
}

.theme-dark .button__text {
  color: var(--accent-color);
}

@media (prefers-color-scheme: dark) {
  .theme-auto .button__text {
    color: var(--accent-color);
  }
}

.card__text-overlay {
  position: absolute;
  top: 27px;
  bottom: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  padding-inline-end: clamp(0.625rem, -0.045rem + 1.786vw, 1.563rem);
  opacity: 0.5;
}

.text-overlay {
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-weight: var(--main-font-weight);
  font-size: var(--font-size-s);
  line-height: 14px;
  -webkit-text-stroke: 1px var(--bg-color);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: clamp(19.375rem, 18.036rem + 3.571vw, 21.25rem);
  margin-inline: auto;
  margin-block-start: 50px;
  margin-block-end: 100px;
  border: 2px solid var(--accent-color);
  color: var(--accent-color);
  background-color: var(--bg-color);
}

.footer__button {
  display: grid;
  gap: 8px;
  width: 100%;
  padding: 14px 20px;
}

.floppy {
  position: relative;
  z-index: 1;
  justify-self: center;
  width: 28px;
  height: 28px;
  color: var(--bg-color);
  mix-blend-mode: difference;
}

.theme-dark .floppy {
  color: var(--accent-color);
}

@media (prefers-color-scheme: dark) {
  .theme-auto .floppy {
    color: var(--accent-color);
  }
}

.button:focus {
  box-shadow: 2px 2px 0 var(--accent-color);
  outline: none;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

@media (width >= 1440px) {
  .footer__button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 13px 16px;
  }

  .floppy {
    transform: scale(0.75);
  }
}

@supports (-webkit-text-stroke: 1px) or (text-stroke: 1px) {
  -webkit-text-stroke: 1px var(--bg-color);
  text-stroke: 1px var(--bg-color);
}

@supports not ((-webkit-text-stroke: 1px) or (text-stroke: 1px)) {
  text-shadow: 0 0 2px var(--bg-color), 0 0 2px var(--bg-color),
    0 0 2px var(--bg-color), 0 0 2px var(--bg-color);
}

.sparks {
  opacity: 0;
}

.like-icon {
  width: 39px;
  height: 36px;
  fill: transparent;
  transition: fill 0.3s ease-in-out;
}

.like-icon:hover {
  fill: var(--contour-color);
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s ease-in-out;
}

.like-icon:hover .core {
  fill: var(--contour-color);
  transition-delay: 0s;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s ease-in-out;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s ease-in-out;
  transition-delay: 0.05s;
}

.like-icon:not(:hover) .core {
  transition-delay: 0.03s;
}

.like-icon:not(:hover) .main-body {
  transition-delay: 0s;
}

.like-icon:active .core {
  fill: var(--fill-color);
  transition: fill 0.3s ease-in-out;
}

.like-icon:active .main-body {
  fill: var(--fill-color);
  transition: fill 0.3s ease-in-out;
  transition-delay: 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--fill-color);
  transition: fill 0.3s ease-in-out;
}

.like-icon.is-liked .main-body {
  fill: var(--fill-color);
  transition: fill 0.3s ease-in-out;
  transition-delay: 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--fill-color);
  transition: fill 0.3s ease-in-out;
  transition-delay: 0.06s;
}

.like-icon.is-liked .heart {
  transform-origin: center center;
  animation: scaleHeart 0.3s ease-in 0.1s forwards;
}

.like-icon.is-liked .sparks {
  animation: sparksAnimation 0.3s ease-in 0.3s forwards;
}

.like-icon:not(.is-liked) .contour {
  transition: fill 0.1s linear;
}

.dialog {
  position: fixed;
  inset: 0;
  z-index: 10;
  display: none;
  width: clamp(21.313rem, 20.598rem + 1.905vw, 22.313rem);
  padding-block: 30px;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
}

.dialog::backdrop {
  position: fixed;
  inset: 0;
  z-index: 90;
  display: none;
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  grid-template-rows: 1fr 1fr;
  gap: 30px;
}

.dialog[open]::backdrop {
  display: block;
}

.dialog__button {
  justify-self: center;
  align-self: center;
  width: clamp(16.063rem, 14.455rem + 4.286vw, 18.313rem);
  border: 2px solid var(--accent-color);
  padding-block: 12.5px;
  text-transform: uppercase;
}

.floppy-dialog {
  transform: scale(1.4);
}

.dialog__content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.dialog__text {
  width: clamp(12.375rem, 10.768rem + 4.286vw, 14.625rem);
  font-weight: 400;
  font-size: var(--font-size-s);
  line-height: 21px;
  text-align: left;
  text-transform: uppercase;
  white-space: wrap;
}

@media (width <= 375px) {
  .header__container {
    width: 90%;
    padding-block-start: clamp(4.5rem, 4.031rem + 1.905vw, 5.5rem);
    padding-block-end: 18px;
  }

  .card {
    width: 90%;
  }

  .content__paragraph {
    width: 90%;
  }

  .card__title {
    width: 90%;
  }

  .footer {
    width: 90%;
  }

  .dialog {
    width: 90%;
  }

  .dialog__button {
    width: 90%;
  }

  .dialog__text {
    width: 90%;
  }

  .button__like {
    margin-block-end: 15px;
  }

  .card__like-button {
    width: 100px;
  }

  .theme-menu__list {
    flex-direction: column;
  }

  .theme-menu__item {
    margin-bottom: 10px;
  }
}

.card__image-filter-first {
  filter: blur(2px) saturate(0.8);
}

.card__image-filter-second {
  filter: grayscale(0.5) sepia(0.2);
}

.card__image-filter-third {
  filter: hue-rotate(180deg) brightness(1.2);
}

.card__image-filter-fourth {
  filter: invert(0.2) contrast(3);
}

.card__image-filter-fifth {
  filter: drop-shadow(2px 2px 5px rgba(186, 30, 30, 0.85));
}

.card__image-filter-sixth {
  filter: contrast(1.3) brightness(0.5);
}

.card__image-filter-seventh {
  filter: sepia(0.8) hue-rotate(45deg) saturate(1.5);
}
